 .websocket{
    position: fixed;
    margin: 1rem;
 }

@media (width < 920px){
    .websocket{
        position: relative !important;
        margin: 0 !important;
        margin-bottom: .5rem !important;
    }
}